@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap');


:root {
    --accent: #55b9a4;
    --gradient-background: linear-gradient(to top right, #254B43 , black);

    --green: #005666;
    --blue: #181f4c;
    --teal: #60bcc4;
    --red: #8e0000;
    --white: #ffffff;
    
    font-size: 18px;
}

* {
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    padding: 0;
    margin: 0;
}

.button-large {
    padding: 15px 40px;
    background-color: var(--accent);
    border-radius: 10px 0px 10px 0px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    max-width: min(90%, 300px);
    text-align: center;
}




#header {
    width: 100%;
    padding: 10px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 100;

    background-color: black;
    color: white;
    box-shadow: 0 2px 5px #ffffff99;

    transition-duration: 300ms;
    transition-timing-function: ease-out;
}

#header #logo {
    height: 80px;
}


@media (min-width: 801px) {
    #header.hidden {
        background-color: transparent;
        box-shadow: none;
    }

    #header.hidden .button-large {
        visibility: hidden;
    }
}


@media (max-width: 800px) {
    body {
        margin-top: 80px;
    }

    #header {
        padding: 10px 30px;
    }

    #header #logo {
        height: 60px;
    }

    #header .button-large {
        padding: 12px 20px;
        font-size: 18px;
    }
}



#wa-button {
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 60px;
    height: 60px;
    border-radius: 100%;
    padding: 10px;

    background-color: white;
    border: 1px solid black;

    z-index: 100;
}

#wa-button img {
    width: 100%;
    height: 100%;
}






footer {
    color: rgb(255, 255, 255);
    padding: 10px 0px;
    width: 100%;
    /* Height of the footer*/ 
    background: #4fac98;
    text-align: center;
}