#cover {
    width: 100%;
    overflow: hidden;
    color: white;
    max-height: 100vh;
}


#cover video {
    width: 100%;
}




/* ABOUT SECTION */

.about-section {
    background: linear-gradient(to right, var(--green), black, var(--green));
    color: var(--white);
    padding: 50px 30px;
}

.about-section h1 {
    font-size: 50px;
    text-align: center;
    animation-delay: 300ms;
}

.about-section h2 {
    font-size: 30px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    font-weight: 600;
    line-height: 120%;
    animation-delay: 600ms;
}

.about-section h1, .about-section h2 {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
}

.about-section h1.hidden, .about-section h2.hidden {
    animation-name: none;
}

@keyframes fadeIn {
    0% {
        transform: translateY(40px);
        opacity: 0;
    } 100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.about-section h3 {
    font-size: 40px;
    text-align: center;
    margin: 65px 0px 30px 0px;
}

.about-section .services-container {
    max-width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.about-section .services-container .service p {
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    font-weight: 800;
}


.about-section img {
    max-width: 300px;
    border-radius: 10px;
}



/* ABOUT */


#about {
    display: flex;
    flex-wrap: wrap;
    background-color:black;
    justify-content: center;
    align-items: center;
}

#about h1 {
    color: aquamarine;
    margin-bottom: 20px;
    font-weight: 600;
}

#about p {
    text-align: justify;
    font-size: 110%;
}


#about> div{
    width: 500px;
    max-width: 100%;
    color: white;
    font-size: larger;
    margin: 20px;
    padding: 20px 0px;
}
#about> div> img{
    width: 100%;
    border-radius: 10%;
}


@media (max-width: 650px) {
    #about div {
        font-size: large;
    }
}






/* STATS */

#stats {
    background-color: black;
    padding: 40px;
    color: white;
}

#stats h1 {
    margin: 30px 0px;
    text-align: center;
    font-weight: 600;
}

#stats h2 {
    text-align: center;
    text-shadow: 3.5px 3.5px 0px green, 3px 3px 0px green, 2.5px 2.5px 0px green, 2px 2px 0px green, 1.5px 1.5px 0px green, 1px 1px 0px green, 0.5px 0.5px 0px green;
    font-size: 40px;
    margin: 10px 0px;
}

#stats p {
    text-align: center;
    font-size: 23px;
}

#stats #content {
    display: grid;
    max-width: 1000px;
    margin: 40px auto;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(2, 1fr);
}

#stats #content div {
    padding: 20px 30px;
    border-right: 1px dotted #aaaaaa;
}

#stats #content div:last-child {
    border-right: none;
}

/* @media (max-width: 750px) {
    #stats #content {
        grid-template-columns: repeat(2, 1fr);
    }

    #stats #content div:nth-child(2) {
        border-right: none;
    }

    #stats #content div:nth-child(1),
    #stats #content div:nth-child(2) {
        border-bottom: 1px dotted #aaaaaa;
    }
} */


@media (max-width: 450px) {
    #stats {
        padding: 40px 10px;
    }

    #stats #content div {
        padding: 20px;
    }

    #stats h2 {
        font-size: 35px;
    }

    #stats p {
        font-size: 19px;
    }
}